body{
  margin: 0%;
  padding: 0%;
}

#Navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: auto;
}

#title{
  width:75%;
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: orange;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

li a:hover{
  background-color: orange;
  color: black;

}

.active{
  background-color: #111;
  display: block;
  color:white;
  float: right;
  width:100%;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

#login{
  width:60%;
  margin: 2.5%;
}

#Register{
  margin: 2.5%;
  width:65%;
}

#login-form{
  background-color: rgba(119, 114, 114, 0.589);
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Registration-form{
  background-color: rgba(119, 114, 114, 0.589);
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}